/.org-id-locations
/auto-save-list/
/backup-init.el
/bookmarks
/eln-cache/
/elpa/
/emms/
/eshell/
/ido.last
/mentor/
/network-security.data
/org-roam.db
/projectile-bookmarks.eld
/tramp
/transient/
/url/
/straight/
/history
/%backup%~
/nov-places
/request/
/hackernews/
/projects
/var/
/org-persist/
/.dap-breakpoints
/.lsp-session-v1
/emojis/
/backup/
